<div class="wrapper">
  <h1>{{ title }}</h1>

  <ul class="todoList">
    <p *ngIf="todos.length == 0"><Small>Não tem item na lista</Small></p>
    <li *ngFor="let todo of todos">
      <input class="btn-check" type="checkbox" *ngIf="!todo.done" (click)="markAsDone(todo)">
      {{ todo.title }}
      <!--<button *ngIf="!todo.done" (click)="markAsDone(todo)">
        <i class="fas fa-check"></i>
      </button>-->
      <button class="btn-list" *ngIf="todo.done" (click)="markAsUndone(todo)">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button class="btn-eraser" (click)="remove(todo)"><i class="fas fa-trash-alt"></i></button>
    </li>
  </ul>




  <form [formGroup]="form">
    <fieldset>

      <input class="input"
        type="text"
        placeholder="Item da Lista"
        maxlength="60"
        formControlName="title"
      />

      <button class="btn-send" [disabled]="form.invalid" (click)="add()">Add</button>
    </fieldset>
  </form>
</div>
